NEXT_PUBLIC_FIREBASE_API_KEY= "AIzaSyA3rQQFE8RGi53FXZVjxdezif4_7bmqiRI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= "ccf-pickle-queue.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID= "ccf-pickle-queue"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET= "ccf-pickle-queue.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "307157919309"
NEXT_PUBLIC_FIREBASE_APP_ID= "1:307157919309:web:fd1d06276667a3c196de04"
