const firebaseConfig = {
  apiKey: "AIzaSyA3rQQFE8RGi53FXZVjxdezif4_7bmqiRI",
  authDomain: "ccf-pickle-queue.firebaseapp.com",
  projectId: "ccf-pickle-queue",
  storageBucket: "ccf-pickle-queue.firebasestorage.app",
  messagingSenderId: "307157919309",
  appId: "1:307157919309:web:fd1d06276667a3c196de04",
  measurementId: "G-B3M8CWSP6L"
};
